* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*-----------------------------------------*/
.header {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(49, 49, 49, 0.7), rgba(97, 97, 97, 0.7)), url(media/bg.jpg);
  background-size: cover;
}
.header nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
.header nav .fa {
  color: white;
  font-size: 35px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
.header nav .fa:hover {
  color: #fa5c58;
}
.header nav .close {
  display: block;
  font-size: 20px;
  text-align: right;
  cursor: pointer;
  margin: 10px;
}
.header .menu {
  font-size: 25px;
  color: #ffffff;
}
.header .nav-links {
  flex: 1;
  text-align: right;
  position: fixed;
  background-color: #333333;
  width: 300px;
  height: 100vh;
  top: 0;
  right: -300px;
  text-align: center;
  z-index: 2;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header .nav-links ul li {
  position: relative;
  display: block;
  font-weight: 500;
  padding: 10px 12px;
}
.header .nav-links ul li a {
  color: #ffffff;
  font-size: 15px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header .nav-links ul li a:hover {
  color: #fa5f3e;
}
.header .social-icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .social-icons li i {
  font-size: 15px;
  margin-top: 35px;
  background-color: white;
  color: #333333;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header .text-box {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.header .text-box h1 {
  font-size: 62px;
  letter-spacing: 5px;
}
.header .text-box p {
  margin: 10px 0 40px;
  font-size: 22px;
}

.hero-btn {
  display: inline-block;
  color: white;
  padding: 12px 34px;
  font-size: 15px;
  position: relative;
  cursor: pointer;
  background-color: #fa5c58;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.hero-btn:hover {
  border: 1px solid #fa5c58;
  background: white;
  color: #fa5c58;
  transition: 1s;
}

@media (max-width: 767px) {
  .header nav {
    align-items: center;
  }
  .header nav img {
    width: 55px;
    height: 55px;
  }
  .header .text-box h1 {
    font-size: 45px;
  }
  .header .text-box p {
    font-size: 16px;
  }
}
/*-----------------------------------------*/
.services {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.services .box {
  text-align: center;
}
.services .box i {
  margin-bottom: 30px;
  font-size: 50px;
  color: #fa5c58;
  width: 110px;
  height: 110px;
  line-height: 110px;
  border: 1px solid #333333;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.services .box i:hover {
  background-color: #fa5c58;
  color: white;
  border: none;
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.services .box h3 {
  font-size: 30px;
  font-weight: 300;
}
.services .box p {
  font-size: 16px;
  color: #827e7e;
  line-height: 25px;
}

/*-----------------------------------------*/
.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: #fbfbfb;
}
.portfolio .content {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}
.portfolio .content h3 {
  font-size: 30px;
  font-weight: 300;
}
.portfolio .content p {
  font-size: 16px;
  color: #827e7e;
  line-height: 25px;
}
.portfolio .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.portfolio .box {
  position: relative;
}
.portfolio .box img {
  max-width: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.portfolio .box:hover img {
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
.portfolio .box i {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border: 1px solid #fa5c58;
  background-color: #fa5c58;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.portfolio .box:hover i {
  opacity: 1;
}

@media (max-width: 767px) {
  .portfolio .content p {
    width: 90%;
    text-align: center;
    margin: 20px auto;
  }
}
/*-----------------------------------------*/
.contact {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.contact .content {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}
.contact .content h3 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: -10px;
}
.contact .content p {
  font-size: 16px;
  color: #827e7e;
  line-height: 25px;
  margin-bottom: 70px;
}
.contact .content iframe {
  width: 70%;
  height: 350px;
}
.contact .container {
  max-width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
.contact .container .box {
  position: relative;
}
.contact .container .box input {
  display: inline-block;
  margin: 10px;
  width: 90%;
  height: 50px;
  background-color: #f1f4f7;
  border: none;
  outline: none;
  padding: 15px;
  min-width: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contact .container .box textarea {
  width: 90%;
  height: 200px;
  background-color: #f1f4f7;
  border: none;
  outline: none;
  margin: 10px;
  padding: 15px;
  resize: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contact .container .box .hero-btn {
  margin: 10px;
  width: 90%;
  height: 50px;
  font-size: 20px;
}
.contact .container .box span {
  display: block;
  width: 200px;
}
.contact .container .box span h3 {
  font-size: 30px;
  font-weight: 300;
}
.contact .container .box span p {
  font-size: 16px;
  color: #827e7e;
  line-height: 25px;
}

@media (max-width: 767px) {
  .contact .content p {
    width: 90%;
    text-align: center;
    margin: 50px auto;
  }
  .contact .container {
    flex-direction: column;
    text-align: center;
  }
  .contact .container .box {
    margin: 20px auto;
  }
}
/*-----------------------------------------*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: #333333;
  height: 100px;
}
.footer .container {
  max-width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.footer .copyright p {
  color: white;
}
.footer .copyright span {
  color: #fa5c58;
}
.footer .social-icons-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social-icons-footer li i {
  position: relative;
  font-size: 20px;
  margin-top: 35px;
  background-color: white;
  color: #333333;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-top: 0px;
  margin-left: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.footer .social-icons-footer li i:hover {
  color: #fa5c58;
}

@media (max-width: 767px) {
  .footer .container {
    flex-direction: column;
    margin-top: -50px;
  }
  .footer .social-icons-footer li i {
    left: -10px;
  }
}
/*-----------------------------------------*//*# sourceMappingURL=main.css.map */